.a-section {
	background-color: #000000; /* Darker background for more contrast */
	padding: 5px 3%; /* Increase padding for more prominence */
}

.a-section-marquee-box {
	height: auto;
	display: flex;
	align-items: center;
	overflow: hidden;
	white-space: nowrap;
}

.marquee-text-wrapper {
	display: inline-flex;
	animation: a-text-scroll 35s linear infinite; /* Adjusted speed */
	align-items: center;
}

.a-section-marquee-box h2 {
	margin: 0;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
	padding: 0 10px; /* Spacing around each item */
	white-space: nowrap;
	display: inline-block;
}

.separator {
	font-size: 16px;
	color: #ffffff;
	padding: 0 10px; /* Centers the separator between items */
	opacity: 0.7; /* Slightly muted color for visual balance */
}

@keyframes a-text-scroll {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}
